blinker
click
colorama
Flask
Flask-Login
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
pillow
SQLAlchemy
typing_extensions
Werkzeug
bs4
requests
cryptography
user-agents
flask-compress
flask-socketio
simple-websocket
gevent 
gevent-websocket